body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h1 {
    /* カラーネーム一覧: https://www.htmq.com/color/colorname.shtml */
    color: red;
}

.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.border-box {
    border: 0.1rem solid green;
    border-radius: 1rem;
    padding: 1rem;
}

.button-primary {
    background-color: royalblue;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.button-primary:hover {
    background-color: slateblue;
}

.width-10rem {
    width: 10rem;
}

.margin-3rem {
    margin: 3rem;
}

.blue {
    color: blue;
    font-size: 30px;
    text-align: center;
}